<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <jmxConfigurator/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%.-1level|S|%-40.40logger{0}|%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.gordondickens" level="debug"/>
    <logger name="javax.ws.rs" level="trace"/>
    <!-- Stupid Jersey throws exceptions on "info" messages - arr-tards -->
    <logger name="com.sun.jersey" level="warn"/>

    <logger name="org.maven.jetty.plugin" level="trace"/>
    <logger name="org.eclipse.jetty" level="trace"/>

    <root level="warn">
        <appender-ref ref="console"/>
    </root>
</configuration>
